.brand-name{
    text-align: center;
    padding: .5rem;
}
.form-section{
    padding: 5% 0;
}
.weather-card{
    background-color: #85F4FF;
    margin: auto;
    height: 300px;
    width: 70%;
    padding: 5% 5%;
    border-radius: .375rem; 
}
.form{
    position:relative;
}
.submit-btn{
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 0;
    width: 25%;
    height: 70%;
}
.display-none{
    display: none;
}
#weather-data{
    text-align: center;
    margin: 3%;
}
.temp-box{
    font-size: 3rem;
}
.intro-section{
    padding: 8% 5% 8% 3%;
}
.intro-text{
    margin-bottom: 2%;
}
footer{
    color: white;
    text-align: center;
    padding: 2% 0 0 0;
    background-color: black;
}
.footer-link{
    margin: .5rem;
    color: #EFFFFD;
}
.normal-font{
    color: white;
}
/* a{
    color: #EFFFFD;
} */

@media (max-width:991px) {
    .weather-card{
        width: 50%;
    }
}
@media (max-width:620px) {
    .weather-card{
        width: 70%;
    }
}
@media (max-width:396px) {
    .weather-card{
        width: 90%;
    }
}