body{
    padding: 2%;
    text-align: center;
}
.title{
    padding-top: 2%;
    margin-bottom: 0;
}
.intro{
    margin-bottom: 1%;
}
.repo-box{
    height: 30vmin;
    padding: 2%;
}
.repo{
    background-color: aqua;
    height: 100%;
    border-radius: .6rem;
}

@media (max-width:918px) {
    .repo-box{
        margin-bottom: 2%;
    }
}
@media (max-width:600px) {
    .repo-box{
        margin-bottom: 6%;
    }
}